body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0px 10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  width: 600px;
}

table {
  border:1px solid black;
  }

th {
  border:1px solid black;
  }

td {
  text-align: center;
  border:1px solid black;
  padding:2px;
}
