/* The navigation menu links */

body {
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  padding-right: 5px;
  font-family: Arial, sans-serif;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #818181;
  display: block;
}

h1 {
  padding: 0px 0px 0px 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

h2 {
  padding: 0px 0px 0px 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

h3 {
  padding: 0px 0px 0px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

p {
  padding: 0px 0px 0px 35px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}


/* When you mouse over the navigation links, change their color */
a:hover {
  color: #f1f1f1;
}
